<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Dashboard</title>
    <style>
        body { font-family: sans-serif; display: flex; justify-content: center; align-items: center; flex-direction: column; }
        .chart { margin: 20px; padding: 20px; border: 1px solid #ccc; border-radius: 8px; }
    </style>
</head>
<body>
    <h1>Dashboard Intelijen Bisnis Film</h1>

    <div class="chart">
        {{ chart_genre|safe }}
    </div>

    <div class="chart">
        {{ chart_country|safe }}
    </div>

</body>
</html>